<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DebugLogPattern" value="[DEBUG]"/>
    <add key="TraceLogPattern" value="[TRACE]"/>
    <add key="InfoLogPattern" value="[INFO]"/>
    <add key="WarnLogPattern" value="[WARN]"/>
    <add key="ErrorLogPattern" value="[ERROR]"/>
    <add key="FatalLogPattern" value="[FATAL]"/>
    <add key="DefaultLogLevel" value="Info"/>
    <add key="RootLoggerName" value="OdsToNLog"/>
    <add key="CaptureGlobal" value="false"/>
    <add key="CaptureLocal" value="true"/>
  </appSettings>
</configuration>